.loginButton {
  border-radius: 25px;
  padding: 7px 20px;
  margin-right: 20px;
  background: transparent;
  color: var(--inverted-primary-color);
  border: 2px solid var(--inverted-primary-color);
}
