.sidebar {
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background: var(--inverted-bg-color);
  position: relative;
  transition: 0.3s width;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
  transition: 0.3s width;
}
