.sidebar {
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background: var(--inverted-bg-color);
  position: relative;
  transition: 0.3s width;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
  transition: 0.3s width;
}

.collapsedBtn {
  transform: rotate(180deg);
}

.sidebarBtn {
  position: absolute;
  right: 0;
  top: 20%;
  background: none;
  border: none;
}

.sidebarItems {
  display: flex;
  flex-direction: column;
}
