.app_dark_theme {
  --bg-color: #232634;
  --inverted-bg-color: #ffffff;

  --primary-color: #f4f4f4;
  --secondary-color: #f4f4f4;

  --inverted-primary-color: #232634;
  --inverted-secondary-color: #232634;
}
