.app_light_theme {
  --bg-color: #ffffff;
  --inverted-bg-color: #232634;

  --primary-color: #232634;
  --secondary-color: #232634;

  --inverted-primary-color: #f4f4f4;
  --inverted-secondary-color: #f4f4f4;
}
